{{header}}
<div id="PageContainer" class="page-container">
  <main class="main-content" role="main">
    <div class="index-sections" data-sections-wrapper>
      {{ content_top }}
     <!-- END content_for_index -->
    </div>
  </main>
{{footer}}